@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0 2rem;
}

.navbar {
    display: flex;
    place-content: space-between;
    padding: 0.75rem 2rem;
}

.nav-tabs {
    display: flex;
    list-style: none;
    font-size: 1.25rem;
}

.nav-tabs a {
    text-decoration: none;
    color: black;
    padding-right: 2rem;
}

.blog-title {
    font-size: 2.5rem;
}

.blog-title a {
    text-decoration: none;
    color: black;
}

.blog-content {
    background-color: whitesmoke;
    color: black;
    font-size: 1.5rem;
    padding: 1.5rem;
    min-height: 100vh;
}

.articles-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    list-style: none;
}

.article-link:link, .article-link:visited {
    text-decoration: none;
    font-size: 2rem;
    color:black;
}

.page-not-found-header {
    text-align: center;
    padding: 2rem;
}

.page-not-found-title {
    font-size: 3rem;
    color: #333;
}

.page-not-found-msg {
    text-align: center;
    font-size: 1.25rem;
    color: #666;
    padding: 1rem;
}