{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}{% endblock %}
    <title>My Personal Blog</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <div class="navbar">
        <div class="blog-title">
            <a href="{% url 'index' %}">My Personal Blog</a>
        </div>
        <ul class="nav-tabs">
            <li><a href="{% url 'index' %}">Posts</a></li>
            <li><a href="{% url 'about_me_page' %}">About Me</a></li>
        </ul>
    </div>
    <div class="blog-content">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>